
.container {
    display: flex;
  }
  .half {
    width: 40% ;
    padding: 50px;
    display: inline-block;
  }     
  .holf {
    width: 90% ;
    padding: 50px;
    display: inline-block;
  }
  #left-half {
    background-color: #d3cece;

  }
  #right-half {
    background-color: white;
  }

body{
   
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #111;
    background: #fff;
    padding: 0;
    margin: 0;
    
}
.principal{
  background-color: #585858;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;

}
.imagen {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-right: 20px;
  margin-left: 50px;
}

.hola h1, .hola h2 {
  margin: 0px;
  
  margin-right: 20px;
  margin-left: 200px;
  
}

.hola h2 {
    color: #aaa; 
}

